Adafruit-Blinka==8.22.4
adafruit-circuitpython-apds9960==3.1.8
adafruit-circuitpython-busdevice==5.0.6
adafruit-circuitpython-mpr121==2.1.19
adafruit-circuitpython-register==1.9.5
adafruit-circuitpython-requests==2.0.1
adafruit-circuitpython-rgb-display==3.12.0
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.52.3
Adafruit-PureIO==1.1.8
bidict==0.21.2
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
circuitpython-i2c-button==2.2.1
click==7.1.2
coloredlogs==15.0.1
dnspython==1.16.0
eventlet==0.33.3
Flask==1.1.2
Flask-SocketIO==5.3.6
flatbuffers==20181003210633
gevent==21.1.2
greenlet==1.0.0
gTTS==2.3.2
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
libretranslatepy==2.1.1
lxml==4.9.3
MarkupSafe==1.1.1
mpmath==1.3.0
numpy==1.26.0
onnxruntime==1.16.0
packaging==23.1
Pillow==10.0.0
piper-phonemize==1.1.0
piper-tts==1.2.0
protobuf==4.24.3
PyAudio==0.2.13
pycparser==2.21
pydub==0.25.1
pyftdi==0.52.9
pyserial==3.5
python-engineio==4.0.1
python-socketio==5.1.0
pyttsx3==2.90
pyusb==1.1.1
requests==2.31.0
rpi-ws281x==4.2.6
RPi.GPIO==0.7.1
six==1.15.0
smbus2==0.4.3
sounddevice==0.4.6
sparkfun-qwiic-i2c==0.9.11
sparkfun-qwiic-oled-base==0.0.2
sparkfun-qwiic-oled-display==0.0.2
spidev==3.6
srt==3.5.3
sympy==1.12
sysv-ipc==1.1.0
tqdm==4.66.1
translate==3.6.1
typing-extensions==4.7.1
urllib3==2.0.5
vosk==0.3.45
webcolors==1.13
websockets==11.0.3
Werkzeug==1.0.1
zipp==3.17.0
zope.event==4.5.0
zope.interface==5.2.0
